<!DOCTYPE html>
<html>
<head>
<title></title>
</head>

<body>
    <h2>ejs login</h2>
    <h2><%=msg%></h2>
    <% for(var i = 0; i < 3; i++){ %>
    <li><%=list[i]%></li>
    <% } %>
    <br/>

    <%-h%>
</body>
</html>